{% block content %}
<script src="https://cdn.tailwindcss.com"></script>
    <style>

</style>

    <form method="POST" action="{% url 'create_patient_appointment' appointment_schedule.pk %}">
        {% csrf_token %}

        <div class="bg-gray-100 min-h-screen flex flex-col items-start justify-center py-24 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div class="bg-white rounded-lg shadow-md p-6">
      <h2 class="text-2xl font-bold text-gray-900 mb-4">Book Appointment</h2>
      <div class="grid grid-cols-1 gap-4">
        <div>
          <label for="patient" class="block text-gray-700 text-sm font-bold mb-2">Patient:</label>
          <input type="text" id="patient"  value="{{ patient_profile }}" disabled class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" disabled>
        </div>
        <div>
          <label for="doctor" class="block text-gray-700 text-sm font-bold mb-2">Doctor:</label>
          <input type="text" id="doctor"  value="Dr. {{ doctor.user.first_name }} {{ doctor.user.last_name }} - {{ doctor.specialization }}" disabled  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" disabled>
        </div>
        <div>
          <label for="date" class="block text-gray-700 text-sm font-bold mb-2">Appointment Date:</label>
          <input type="text" id="date" value="{{ appointment_schedule.appointment_date }}" disabled class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" disabled>
        </div>
        <div>
          <label for="time" class="block text-gray-700 text-sm font-bold mb-2">Appointment Time:</label>
          <input type="text" id="time" value="{{ appointment_schedule.appointment_time_from }} - {{ appointment_schedule.appointment_time_to }}" disabled class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" disabled>
        </div>
      </div>
      <div class="flex items-center justify-center mt-4">
        <button  type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Proceed to Payment
        </button>
      </div>
    </div>
  </div>
</div>
<!--        {{form.as_p}}-->


    </form>
{% endblock %}
